*,
html,
body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  outline: 0;
  border: 0;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  color: rgb(255, 255, 255);
}

.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 5%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
  background-color: rgb(0, 0, 0);
}

.navbar .navbar-logo {
  font-size: 32px;
  font-weight: 700;

  color: rgb(255, 255, 255);

  font-style: italic;
}

.navbar .navbar-logo span {
  color: rgb(255, 0, 0);
}

.navbar-nav {
  justify-content: center;
  display: flex;
  align-items: center;
}
.navbar .navbar-nav a {
  color: rgb(255, 255, 255);
  padding: 15px;
  margin: 1px;
  font-weight: 700;
  font-size: 15px;
}

.navbar .navbar-nav a:hover {
  color: rgb(238, 255, 0);
}
.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 8px;
  border-bottom: 2px solid rgb(255, 230, 0);
  transform: scalex(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.9);
}

.container {
  display: flex;
}

.isi {
  margin-top: 0px;
  margin-left: 300px;
  margin-right: 100px;
}

.katalog {
  display: flex;
  justify-content: center;
  gap: 20px;
  text-align: center;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 5em;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 120px;
}

.box {
  height: 400px;
  width: 300px;
  font-size: 20pt;
  background-color: white;
  color: black;
}

.inputbudget {
  margin-top: 50px;
}

.text {
  margin-top: 150px;
  margin-left: 300px;
  margin-right: 300px;
  text-align: justify;
  font-size: large;
}

.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
